.item-text {
    color: darkcyan;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    width: max-content;
}

.item-title {
    color: lightblue;
    font-weight: bold;
}

.item-heading {
    color: darkslateblue;
    text-transform: uppercase;
    width: max-content;
}
