.fallback {
    color: white;
    font-size: calc(5px + 3vmin);
}

.video-caption {
    font-family: 'Courier New', serif;
    line-height: calc(15px + 1vmin);
}

.video-title {
    color: #000;
    font-weight: bold;
    font-size: calc(15px + 1vmin);
}

.video-description {
    color: #000;
    font-size: calc(12px + 1vmin);
}

.poster-placeholder {
    border: black solid 1px;
}
