body {
    background-color: #333;
    color: #fff;
}

.item-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
}

.item-title {
    font-weight: bold;
}

.item-description {

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
