@font-face {
    font-family: 'Courier New';
    src:  url('fonts/CourierNew.ttf') format('ttf');
}

body {
    background-color: #FFF;
    color: #000;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-link {
    font-size: 85%;
}

.bodycopy {
    color: #333;
}

.copyright {
    color: #333;
    font-size: 50%;
    font-weight: normal;
}
